
.p4acalendar.month {
}

.p4acalendar .week .day DL {
    color: #666;
    margin: 0;
    padding: 0.2em;
}

.p4acalendar .week .day DL DT,
.p4acalendar .week .day DL DD {
    padding: 0;
    margin: 0;
}

.p4acalendar .event-title {
    color: #666;
    font-size: 0.8em;
}

.p4acalendar .day {
    float: left;
    width: 13%;
}

.p4acalendar .day.today {
    background-color: #f4f6bf;
}

.p4acalendar .standard-week-days .day {
    font-size: 0.8em;
}

.p4acalendar .standard-week-days .day.first-week-day {
    border-left: 1px transparent solid;    
}

.p4acalendar .standard-week-days .day {
    border-right: 1px transparent solid;
}

.p4acalendar .week .day {
    height: 6em;
}


/* begin default horizontal lines */

.p4acalendar .week .day {
    border-bottom: 1px #666 solid;
}

.p4acalendar .week.first-week .day {
    border-top: 1px #666 solid;
    border-bottom: 1px #666 solid;
}

/* end default horizontal lines */


/* begin default vertical lines */

.p4acalendar .week .day {
    border-right: 1px #666 solid;
}

.p4acalendar .week .day.first-week-day {
    border-left: 1px #666 solid;
}

/* end default vertical lines */
