
.p4acalendar .month H1 {
    font-size: 1em;
    margin-bottom: 1em;
}

.p4acalendar .month H1 A {
    text-decoration: none;
}

.p4acalendar .week .day DL {
    color: #777;
    margin: 0;
    padding: 0.2em;
}

.p4acalendar .week .day.outside-month DL {
    color: #ccc;
}

/* for some reason IE doesn't like the separaters here */
.p4acalendar .standard-week-days .visualClear,
.p4acalendar .week .visualClear {
    display: none;
}

.p4acalendar .standard-week-days .day {
    text-align: center;
}

.p4acalendar .week .day DL DT,
.p4acalendar .week .day DL DD {
    padding: 0;
    margin: 0;
}

.p4acalendar .week .day DL DD {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    margin-bottom: -0.5em;
    padding: 0;
}

.p4acalendar .event-title {
    color: #777;
    font-size: 0.7em;
}

.p4acalendar .day {
    float: left;
    width: 13%;
    overflow: hidden;
}

.p4acalendar .day.today {
    background-color: #f4f6bf;
}

.p4acalendar .standard-week-days .day {
    font-size: 0.8em;
}

.p4acalendar .week .day {
    height: 6em;
}


/* grid start */
/*
The purpose here of a fancy grid is to make sure days that are not
in the active month have their grid lines lighter than the rest to
make it obvious.
*/

.p4acalendar .first-week .day.outside-month {
    border-left: 1px #ccc solid;
    border-top: 1px #ccc solid;
}

.p4acalendar .last-week .day.outside-month,
.p4acalendar .last-week .day.outside-month.last-week-day {
    border-bottom: 1px #ccc solid;
    border-right: 1px #ccc solid;
}

.p4acalendar .week .day {
    border-left: 1px #777 solid;
    border-top: 1px #777 solid;
}

.p4acalendar .last-week .day {
    border-bottom: 1px #777 solid;
    border-left: 0;
    border-right: 1px #777 solid;
}

.p4acalendar .last-week .day.first-week-day {
    border-left: 1px #777 solid;
}

.p4acalendar .week .day.last-week-day {
    border-right: 1px #777 solid;
}

/* end grid */
